@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:ital,wght@0,500;0,700;1,400&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 100%;
} /*16px*/

/* fonts */
:root {
  /* colors */
  --color-primary: #2d9cdb;
  --color-secondary: #100e1d;
  --color-tertiary: #333333;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts */
  --headingsFont: "Poppins", sans-serif;
  --bodyFont: "Poppins", sans-serif;
  --smallText: 0.7em;
  /* others */
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: all 0.3s linear;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

body {
  background: var(--white);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--color-tertiary);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingsFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.section {
  padding: 4rem 0;
}

.section-center {
  width: 80vw;
  max-width: 1170px;
  margin: 0 auto;
}

.s-c {
  padding-left: 2rem;
}

@media screen and (min-width: 768px) {
  .section-center {
    width: 80vw;
  }
}

/* buttons */
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--color-primary);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.5rem 1rem;
  box-shadow: var(--shadow-1);
  text-transform: capitalize;
  transition: var(--transition);
  display: inline-block;
}
.btn:hover {
  background: var(--white);
  color: var(--color-primary);
  box-shadow: var(--shadow-3);
  border: 1px solid var(--color-primary);
}
.btn-hipster {
  background: var(--primary-200);
  color: var(--primary-500);
}
.btn-hipster:hover {
  background: var(--primary-700);
  color: var(--primary-200);
}
.btn-block {
  width: 100%;
}

/* flip */

.flip {
  transform: rotateY(180deg);
}

/* 
==================
Navbar
==================
*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: white;
  box-shadow: var(--light-shadow);
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 2rem;
}
.nav-logo,
.brand-logo {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  color: #333333;
}
.nav-btn {
  justify-self: end;
  border: transparent;
  background: transparent;
  font-size: 2rem;
  transition: var(--transition);
}
.nav-btn:hover {
  transform: scale(1.2);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  margin: 0;
}
.show-links {
  height: 300px;
}

.nav-link {
  display: grid;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  color: var(--color-secondary);
  font-size: 1rem;
  transition: var(--transition);
}
.nav-link:hover {
  padding-left: 2.5rem;
  background: var(--color-primary);
}

@media screen and (min-width: 992px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    justify-self: end;
    justify-items: center;
    height: auto;
    align-items: center;
  }
  .nav-link {
    padding: 0;
    transition: var(--transition);
  }
  .nav-link:hover {
    padding: 0;
    background: transparent;
    border-bottom: 1px solid var(--color-tertiary);
  }
}

/* 
==================
Hero
==================
*/

.hero {
  margin-top: 5rem;
}

.hero-header h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
}
.hero-header h4,
.hero-footer h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  max-width: 15rem;
}
.hero-footer h4 {
  margin-top: 1rem;
}
.hero-text {
  font-size: 0.8rem;
}

/* contact */
.contact p {
  margin-bottom: 0.5rem;
  font-size: var(--smallText);
}
.input-group {
  border: 1px solid var(--color-tertiary);
  display: flex;
  justify-content: space-between;
  max-width: 60vw;
  border-radius: 12px;
  padding: 0.15rem;
}
@media screen and (min-width: 768px) {
  .input-group {
    max-width: 30vw;
  }
}
.input-group input {
  flex-grow: 1;
  outline: 0;
  border: transparent;
  border-radius: 12px;
  width: 0;
}
.input-group .btn {
  border-radius: 12px;
}

/* 
==================
Services
==================
*/
.services {
  margin-top: -3rem;
}

/* section title */
.section-title h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  max-width: 17rem;
  line-height: 36px;
}

.service {
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 24px;
  transition: var(--transition);
}
.service:hover {
  box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.1);
  transform: scale(1.02);
}
.icon {
  width: 4rem;
  height: 4rem;
  background: var(--color-tertiary);
  display: grid;
  place-items: center;
  border-radius: 16px;
  color: var(--white);
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.icon-blue {
  background: var(--color-primary);
}
.icon-green {
  background: #27ae60;
}
.icon-red {
  background: #eb5757;
}
.service-title h2 {
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 700;
}
.service .text {
  font-size: 1rem;
  color: #4f4f4f;
}

.service .btn {
  border-radius: 12px;
}

.btn-grey {
  background: #e0e0e0;
  color: #828282;
}
.btn-grey:hover {
  background: var(--white);
  border-color: #828282;
  color: #828282;
}

@media screen and (min-width: 768px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* 
==================
Products
==================
*/
.products .section-title {
  margin-bottom: 3rem;
}
.product {
  margin-bottom: 2rem;
}

.product-img {
  border-radius: 12px;
}
.product-title p {
  color: #828282;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.products-link {
  color: var(--color-primary);
}
.products-link a {
  color: var(--color-primary);
  font-size: 1.1rem;
  font-weight: 500;
  transition: var(--transition);
}
.products-link a:hover {
  margin-right: 0.5rem;
}
@media screen and (min-width: 768px) {
  .product-img {
    max-height: 22rem;
  }
  .products-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .product {
    margin-bottom: 1rem;
  }
  .product:nth-child(even) {
    margin-top: 3rem;
  }
  .product:nth-child(odd) {
    margin-bottom: 3rem;
  }
}

/* 
==============
Team
==============
*/
.team-details h5 {
  color: #eb5757;
  margin-bottom: 1rem;
}
.team-details h3 {
  font-size: 2rem;
  max-width: 25rem;
}
.team-details p {
  font-weight: 400;
  max-width: 25rem;
}

.team .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 100px);
  grid-template-areas:
    ". a"
    "b a"
    "b c"
    ". c";
  gap: 1rem;
}
.gallery .img {
  border-radius: 24px;
  height: 100%;
}
.gallery .img-1 {
  grid-area: a;
}
.gallery .img-2 {
  grid-area: b;
}
.gallery .img-3 {
  grid-area: c;
}

@media screen and (min-width: 992px) {
  .team-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    align-items: center;
  }
}

/* 
==============
Callout
==============
*/
.callout-text {
  font-size: 1.3rem;
  max-width: 32rem;
}
.callout-footer {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
}
.callout-footer .img {
  width: 4rem;
  height: 4rem;
  border-radius: 12px;
}
.callout-footer h5 {
  margin-bottom: 0;
  font-size: 1.2rem;
}
.callout-footer p {
  color: #828282;
  font-size: 0.9rem;
}
/* 
==============
Footer
==============
*/
.footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  background: var(--color-secondary);
  color: var(--white);
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.footer p {
  padding: 0;
  margin: 0 auto;
}
.footer #username {
  font-weight: bold;
  text-decoration: underline;
  color: inherit;
}

.footer-img {
  width: 1.5rem;
  height: 1.5rem;
}

.footer-link {
  display: block;
  text-align: left;
  color: var(--white);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  font-size: 1rem;
}
.footer-brand {
  text-align: left;
}
.brand-logo {
  color: var(--white);
}
.footer-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
  width: max-content;
  margin: 0;
}

.footer .contact {
  text-align: left;
  width: max-content;

  margin-top: 2rem;
}
.footer .input-group {
  width: 30rem;
  border: 0;
  background: var(--white);
}
.bottom-text {
  text-align: center;
  font-size: 0.8rem;
  font-family:'Montserrat';
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .footer-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
  .footer .contact {
    margin: 0;
  }
}
